$dark-blue: #14085b;
$deep-blue: #38e;
$purple: #673AAB;

body{
  background-color: #49d;
  text-align: center;
}
.checklist{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 100vh;
  margin: auto;
  .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $deep-blue;
    margin-bottom: 10px;
    button{
      width: 50px;
      height: 50px;
      &.icon-button{
        color: $dark-blue;
        background-color: inherit;
        border: none;
        &:hover{
          // color: $deep-blue;
        }
      }
    }
  }
  #plus-button{
    position: relative;
    border-radius: 20px;
    border: none;
    background-color: $deep-blue;
    img{
      width: 75px;
      height: 75px;
    }
  }
}
.completed{
  text-decoration: line-through;
  color: $purple;
}
